@page "/"
@using DevExpress.Blazor;
@using DevExpress.Blazor.Grid;
@using Subscription_tracker.Services;
@using Subscription_tracker.models;
@using System.Data.Common;
@inject NavigationManager Nav
@inject SubscriptionService subscriptionService;

<PageTitle>Subscription_tracker</PageTitle>


@if (subscriptions == null)
{
    <p>Loading!...</p>
}
else
{
    <div class="sub_container">
        <p id="total_expense">Total expense: @totalExpense</p>
        <DxGrid Data="@subscriptions" ShowBorders="true">
            <Columns>
                <DxGridDataColumn FieldName="@nameof(Subscription.ItemId)" Caption="Item ID"
                    CaptionAlignment="GridTextAlignment.Center" TextAlignment="GridTextAlignment.Center" />
                <DxGridDataColumn FieldName="@nameof(Subscription.Subs_name)" Caption="Subscription Name"
                    CaptionAlignment="GridTextAlignment.Center" TextAlignment="GridTextAlignment.Center" />

                <DxGridDataColumn FieldName="@nameof(Subscription.Subs_amount)" Caption="Amount"
                    CaptionAlignment="GridTextAlignment.Center" TextAlignment="GridTextAlignment.Center" />

                <DxGridDataColumn FieldName="@nameof(Subscription.Subs_plan)" Caption="Plan"
                    CaptionAlignment="GridTextAlignment.Center" TextAlignment="GridTextAlignment.Center" />

                <DxGridCommandColumn Caption="Actions">
                    <CellDisplayTemplate>
                        @{
                            var rowData = (Subscription)context.DataItem;
                        }
                        <DxButton Text="Edit" Click="@(() => Nav.NavigateTo($"/edit-subscription/{rowData.ItemId}"))" "/>
                        <DxButton Text="Delete" Click="@(() => DeleteData(rowData.ItemId))" />
                    </CellDisplayTemplate>
                </DxGridCommandColumn>
            </Columns>
        </DxGrid>
    </div>

}



@code {

    List<Subscription>? subscriptions;

    public int totalExpense => subscriptions?.Sum(s => s.Subs_amount) ?? 0;
    
    // GET
    protected override async Task OnInitializedAsync()
    {
        subscriptions = await subscriptionService.GetAll();
    }
    // DELETE
    async Task DeleteData(int id)
    {
        await subscriptionService.DeleteSubscription(id);
    }
}